@import url("styles/header.css");
@import url("styles/sessao1.css");

@font-face {
    font-family: 'Open Sans, Roboto';
    src: url('./fonts/Open_Sans');
}

:root {
    --cor-fundo-header: #dddbd9;
    --cor-fundo-sessao: #e5e5e5;
    --branco: #FFFFFF;
    --cor-fonte: #332e29;
    --preto: #000000;
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}