@import url("styles/header.css");
@import url("styles/sessao1.css");
@import url("styles/sessao2.css");
@import url("styles/sessao3.css");
@import url("styles/sessao4.css");
@import url("styles/sessao5.css");
@import url("styles/sessao6.css");

@font-face {
    font-family: 'Open Sans, Oswald';
    src: url('./fonts/Open_Sans/Oswald/');
}

:root {
    --cor-fundo-header: #dddbd9;
    --cor-fundo-sessao: #e5e5e5;
    --branco: #FFFFFF;
    --cor-fonte: #332e29;
    --preto: #000000;
    --fonte-principal: 'Oswald', sans-serif;
    --fonte-secundaria: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    width: 100%;
    overflow-x: hidden;
}