.container__titulo{
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

.cabecalho{
    background-color: var(--cor-fundo-header);
}

.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/sessao1/bars.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 20%;
    right: 80%;
    z-index: 10;
}

.container__botao:checked ~.lista-menu{
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item{
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.lista-menu__titulo{
    justify-content: end;
}

.lista-menu__link,
.lista-menu__titulo{
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    font-family: 1.5rem;
    text-decoration: none;
    font-weight: 700;
}

.container__botao{
    display: none;
}