.decimaPrimeiraSessao {
    width: 100%;
}

.decimaPrimeiraSessao__conteudo {
    height: auto;
    display: flex;
    justify-content: center;
}

.decimaPrimeiraSessao__Container {
    width: 1153px;
    height: auto;
    display: flex;
    padding: 60px 0;
}

.decimaPrimeiraSessao__primeiraColuna {
    width: 488px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* animation: slideUp 2.5s ease-out; */
}

.decimaPrimeiraSessao__Titulo {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.decimaPrimeiraSessao__primeiraColunaTitulo {
    max-width: 596px;
    display: flex;
    flex-direction: column;
}

.decimaPrimeiraSessao__ConteudoTitulo {
    height: 262px;
    display: flex;
    flex-direction: column;
}

.decimaPrimeiraSessao__Subtitulo {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    line-height: 2.2;
    margin: 20px 0px 0px;
}

.formulario {
    height: 303px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 484px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input,
textarea {
    margin-bottom: 20px;
    background-color: var(--cor-fundo-sessao);
    border: 0;
    height: 45px;
}

textarea {
    height: 74px;
}

.enviar {
    background-color: var(--preto);
    color: var(--branco);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
}

.decimaPrimeiraSessao__segundaColuna {
    width: 700px;
    height: 859px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.decimaPrimeiraSessao__topo {
    width: 100%;
    height: 285px;
}

.decimaPrimeiraSessao__primeiroQuadrado {
    width: 1000px;
    height: 285px;
    background-color: var(--cor-fundo-sessao);
    /* animation: slideLeftToRight 2.5s ease-out; */
}

.decimaPrimeiraSessao__lateralDireita {
    width: 410px;
    height: 535px;
}

.decimaPrimeiraSessao__segundoQuadrado {
    width: 400px;
    height: 550px;
    background-color: #d9d9d9;
    /* animation: slideDown 2.5s ease-out; */
}

.mapBox {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* animation: slideLeftToRight 2.5s ease-out; */
}

.mapBox iframe {
    width: 540px;
    height: 711px;
    transform: translate(10%, 15%);
}

.animateOnScroll {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.animateOnScroll.animate {
    opacity: 1;
    transform: translateY(0);
}

.decimaPrimeiraSessao__primeiraColuna.animateOnScroll {
    transform: translateY(50px);
}

.decimaPrimeiraSessao__primeiraColuna.animate {
    transform: translateY(0);
}

.decimaPrimeiraSessao__segundoQuadrado.animateOnScroll {
    transform: translateY(-50px);
}

.decimaPrimeiraSessao__segundoQuadrado.animate {
    transform: translateY(0);
}

.decimaPrimeiraSessao__primeiroQuadrado.animateOnScroll,
.mapBox.animateOnScroll {
    transform: translateX(-50px);
}

.decimaPrimeiraSessao__primeiroQuadrado.animate,
.mapBox.animate {
    transform: translateX(0);
}

@media (max-width: 300px) {
    .decimaPrimeiraSessao__conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .decimaPrimeiraSessao__ConteudoTitulo{
        width: 100%;
        max-width: 250px;
        margin-bottom: 20px;
    }

    .decimaPrimeiraSessao__Container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .decimaPrimeiraSessao__primeiraColuna,
    .decimaPrimeiraSessao__segundaColuna {
        width: 100%;
        align-items: center;
    }

    .formulario form {
        width: 100%;
        max-width: 200px;
    }

    .mapBox iframe {
        width: 80%;
        max-width: 280px;
        height: 50%;
    }

    .decimaPrimeiraSessao__primeiroQuadrado,
    .decimaPrimeiraSessao__segundoQuadrado {
        width: 100%;
        height: auto;
    }
}
