.decimaSessao {
    width: 100%;
}

.decimaSessao__conteudo {
    max-height: 862px;
    display: flex;
    justify-content: center;
}

.decimaSessao__Container {
    width: 921px;
}

.decimaSessao__ConteudoTitulo {
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: zoomIn 1.5s ease-out;
}

.decimaSessao__Titulo {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.decimaSessao__Subtitulo {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    margin: 20px 0 0;
}

.decimaSessao__alinhamentoImagens {
    height: auto;
    display: flex;
    justify-content: center;
}

.decimaSessao__PrimeiraColuna {
    width: 463px;
    height: 594px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.decimaSessao__SegundaColuna {
    display: flex;
    flex-direction: column;
}

.decimaSessao__primeiraImagem img,
.decimaSessao__quartaImagem img {
    width: 262px;
    height: 221px;
    border: 15px solid transparent;
}

.decimaSessao__segundaImagem img,
.decimaSessao__terceiraImagem img {
    width: 480px;
    height: 400px;
    border: 15px solid transparent;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideLeftToRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.decimaSessao__primeiraImagem,
.decimaSessao__segundaImagem {
    animation: slideLeftToRight 2s ease-out;
}

.decimaSessao__terceiraImagem,
.decimaSessao__quartaImagem {
    animation: slideRightToLeft 2s ease-out;
}