.nonaSessao {
    background-color: var(--cor-fundo-sessao);
    width: 100%;
}

.nonaSessao__conteudo {
    display: flex;
    justify-content: center;
    position: relative;
}

.nonaSessao__alinhamento {
    width: 1000px;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    justify-content: center;
}

.nonaSessao__primeiraColunaContainer {
    display: flex;
}

.nonaSessao__primeiraColuna {
    margin-bottom: -100px;
}

.nonaSessao__primeiraColunaAlinhamento {
    width: 400px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nonaSessao__primeiraAlinhamento {
    width: 699px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.nonaSessao__PrimeiraImagem img {
    width: 377px;
    height: 429px;
}

.nonaSessao__SegundaImagem {
    display: flex;
    align-items: end;
}

.nonaSessao__SegundaImagem img {
    width: 550px;
    height: 440px;
}

.nonaSessao__segundaColunaContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.nonaSessao__segundaColuna {
    display: flex;
    justify-content: space-between;
}

.nonaSessao__TerceiraImagem {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 0px 0px 20px 0px;
}

.nonaSessao__TerceiraImagem img {
    width: 406px;
    height: 406px;
    border: 10px solid var(--branco);
}

.nonaSessao__borda {
    width: 522px;
    height: 220px;
    border-left: 10px solid #666666;
}

.nonaSessao__ConteudoSubtitulo {
    width: 469px;
    display: flex;
    padding: 20px 20px 0px 40px;
}

.nonaSessao__Texto {
    font-weight: 400;
    line-height: 2;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

.nonaSessao__segundoAlinhamento {
    display: flex;
}

.nonaSessao__QuartaImagem {
    display: flex;
    align-items: center;
}

.nonaSessao__QuartaImagem img {
    width: 383px;
    height: 417px;
}

.nonaSessao__ConteudoTitulo {
    width: 480px;
    padding: 20px 45px;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(30%, 30%);
    z-index: 1;
    background-color: var(--branco);
}

.nonaSessao__Titulo {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.nonaSessao__link,
.nonaSessao__Subtitulo {
    font-size: 1rem;
    line-height: 1.6;
    font-family: var(--fonte-secundaria);
    padding: 20px 0px;
}

.nonaSessao__link a {
    color: inherit;
}

.nonaSessao__botao {
    background-color: var(--brancp);
    color: var(--preto);
    border: 1px solid var(--preto);
    font-family: var(--fonte-principal);
    text-decoration: none;
    width: 30%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
}

.nonaSessao__botao:hover {
    background-color: var(--preto);
    color: var(--branco);
}

/* @keyframes fadeScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nonaSessao__ConteudoTitulo {
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.nonaSessao__ConteudoTitulo.animate {
    animation: fadeScale 1.5s ease-out forwards;
} */

/* @keyframes fadeBlur {
    0% {
        opacity: 0;
        filter: blur(10px) !important;
    }
    100% {
        opacity: 1;
        filter: blur(0) !important;
    }
}

.nonaSessao__ConteudoTitulo {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 1.5s ease-out, filter 1.5s ease-out;
}

.nonaSessao__ConteudoTitulo.animate {
    animation: fadeBlur 1.5s ease-out forwards;
} */

.nonaSessao__PrimeiraImagem {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.nonaSessao__PrimeiraImagem.animate {
    opacity: 1;
    transform: translateX(0);
}

.nonaSessao__primeiraAlinhamento {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.nonaSessao__primeiraAlinhamento.animate {
    opacity: 1;
    transform: translateX(0);
}

.nonaSessao__QuartaImagem {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.nonaSessao__QuartaImagem.animate {
    opacity: 1;
    transform: translateX(0);
}

.nonaSessao__ConteudoSubtitulo {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.nonaSessao__ConteudoSubtitulo.animate {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 300px) {
    .nonaSessao__alinhamento {
        flex-direction: column;
        align-items: center;
        max-width: 200px;
    }

    .nonaSessao__primeiraColunaContainer,
    .nonaSessao__segundaColunaContainer {
        flex-direction: column;
        align-items: center;
        max-width: 200px;
    }

    .nonaSessao__primeiraColunaAlinhamento,
    .nonaSessao__primeiraAlinhamento,
    .nonaSessao__segundaColuna {
        width: 100%;
        max-width: 200px;
        height: auto;
        justify-content: center;
        text-align: center;
    }

    .nonaSessao__PrimeiraImagem img,
    .nonaSessao__SegundaImagem img,
    .nonaSessao__TerceiraImagem img,
    .nonaSessao__QuartaImagem img {
        width: 90%;
        max-width: 200px;
        height: auto;
    }

    .nonaSessao__ConteudoTitulo{
        width: 90%;
    }

    .nonaSessao__botao{
        width: 90%;
    }
    
}