.terceiraSessao{
    background-color: var(--branco);
    width: 100%;
}

.terceiraSessao__conteudo{
    height: 525px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.terceiraSessao__PrimeiraImagem img, 
.terceiraSessao__SegundaImagem img{
    width: 450px;
    height: 480px;
}

.terceiraSessao__SegundaImagem{
    height: 900px;
    display: flex;
    align-items: end;
}

.terceiraSessao__ConteudoTitulo{
    width: 380px;
    height: 380px;
    border: 15px solid transparent;
    padding: 30px 10px;
}

.terceiraSessao__Titulo{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--fonte-principal);
    margin-bottom: 30px;
    line-height: 1.3;
    text-transform: uppercase;
}

.terceiraSessao__Subtitulo{
    font-size: 1.5rem;
    margin: 20px 0 0;
    line-height: 1.5;
    font-family: var(--fonte-secundaria);
}

@keyframes rotateUp {
    from {
        opacity: 0;
        transform: rotate(100deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.terceiraSessao__ConteudoTitulo,
.terceiraSessao__PrimeiraImagem,
.terceiraSessao__SegundaImagem {
    opacity: 0;
    will-change: transform, opacity;
}

.terceiraSessao__ConteudoTitulo.animate {
    animation: rotateUp 1.5s ease-out forwards;
}

.terceiraSessao__PrimeiraImagem.animate {
    animation: slideDown 1.5s ease-out forwards;
}

.terceiraSessao__SegundaImagem.animate {
    animation: pulse 1.5s ease-out forwards;
}

@media (max-width: 600px){
    .terceiraSessao__conteudo{
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .terceiraSessao__ConteudoTitulo{
        width: 100%;
        height: auto;
        margin-bottom: 100px;
    }

    .terceiraSessao__SegundaImagem{
        height: 100%;
    }
}