.sextaSessao{
    background-color: var(--cor-fundo-sessao);
    width: 100%;
}

.sextaSessao__conteudo{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sextaSessao__conteudoLayout{
    width: 900px;
    height: 614px;
    display: flex;
    justify-content: start;
}

.sextaSessao__Imagem img{
    width: 450px;
    height: 614px;
}

.sextaSessao__conteudoSecundario{
    background-color: var(--branco);
    padding: 10px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sextaSessao__PrimeiroTitulo, .sextaSessao__SegundoTitulo{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--fonte-principal);
    margin-bottom: 10px;
}

.sextaSessao__PrimeiroSubtitulo, .sextaSessao__SegundoSubtitulo{
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: end;
    font-family: var(--fonte-secundaria);
}

.sextaSessao__SegundoSubtitulo{
    text-align: start;
}

.sextaSessao__Texto{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sextaSessao__Texto img, .sextaSessao__conteudoSecundarioTexto img{
    width: 50px;
    height: 50px;
}

.sextaSessao__conteudoSecundarioTexto{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sextaSessao__Imagem.animate {
    animation: slideFromLeft 1.5s ease-out forwards;
}

.sextaSessao__Texto.animate {
    animation: slideFromTop 1.5s ease-out forwards;
}

.sextaSessao__conteudoSecundarioTexto.animate {
    animation: slideFromBottom 1.5s ease-out forwards;
}