.setimaSessao{
    background-color: var(--cor-fundo-sessao);
    width: 100%;
}

.setimaSessao__conteudo{
    height: 246px;
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 0;
}

.setimaSessao__ConteudoTitulo{
    width: 766px;
    height: 365px;
    display: flex;
    flex-direction: column;
}

.setimaSessao__Titulo{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.setimaSessao__Subtitulo{
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: var(--fonte-secundaria);
    padding: 50px 0px;
}

.setimaSessao__botao{
    background-color: var(--brancp);
    color: var(--preto);
    border: 1px solid var(--preto);
    font-family: var(--fonte-principal);
    text-decoration: none;
    width: 25%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
}

.setimaSessao__botao:hover{
    background-color: var(--preto);
    color: var(--branco);
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.setimaSessao.animated {
    animation: slideFromTop 1.5s ease-out forwards;
}

@media (max-width: 300px) {
    .setimaSessao__conteudo{
        width: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px;
    }

    .setimaSessao__botao{
        width: 90%;
    }
}