.terceiraSessao{
    background-color: var(--branco);
    width: 100%;
}

.terceiraSessao__conteudo{
    height: 525px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.terceiraSessao__PrimeiraImagem img, 
.terceiraSessao__SegundaImagem img{
    width: 450px;
    height: 480px;
}

.terceiraSessao__SegundaImagem{
    height: 900px;
    display: flex;
    align-items: end;
}

.terceiraSessao__ConteudoTitulo{
    width: 380px;
    height: 380px;
    border: 15px solid transparent;
    padding: 30px 10px;
}

.terceiraSessao__Titulo{
    font-size: 30px;
    font-weight: 600;
    font-family: var(--fonte-principal);
    margin-bottom: 30px;
    line-height: 1.3;
    text-transform: uppercase;
}

.terceiraSessao__Subtitulo{
    font-size: 1.5rem;
    margin: 20px 0 0;
    line-height: 1.5;
    font-family: var(--fonte-secundaria);
}