.primeiraSessao {
    background-color: var(--cor-fundo-sessao);
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo__primeiraSessaoTitulo {
    background-color: var(--branco);
    transform: translate(20%, 20%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}

.primeiraSessao__conteudoImagens {
    display: flex;
    justify-content: center;
}

.conteudo__primeiraSessaoImagem {
    width: 900px;
    height: 500px;
    transform: translate(-20%, 10%);
    background-image: url("../assets/sessao1/sala.jpg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

.conteudo__primeiraSessao__lateral {
    width: 300px;
    height: 680px;
    background-color: var(--branco);
    transform: translate(-100%, -5%);
    z-index: 1;
}

.primeiraSessao__subtitulo {
    font-size: 30px;
    color: var(--cor-fonte);
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

.primeiraSessao__titulo {
    width: 500px;
    height: 250px;
    font-size: 3.75rem;
    margin: 30px 0;
    font-weight: 700;
    color: var(--cor-fonte);
    line-height: 1.1;
    font-family: var(--fonte-principal);
}

.primeiraSessao__link {
    color: var(--cor-fonte);
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.primeiraSessao__link a {
    color: inherit;
}



@keyframes rotateIn {
    from {
        opacity: 0;
        transform: rotate(-180deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}


@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    opacity: 1;
    transition: opacity 0.5s ease-out, transform 1s ease-out;
    will-change: transform, opacity;
}

.conteudo__primeiraSessao__lateral:has(+ .animated),
.conteudo__primeiraSessaoTitulo:has(+ .animated) {
    opacity: 1;
    animation-fill-mode: forwards;
}

.conteudo__primeiraSessao__lateral.animated {
    animation: rotateIn 1.5s ease-out;
}

.conteudo__primeiraSessaoTitulo.animated {
    animation: slideUp 1.5s ease-out;
}


@media (max-width: 600px) {
    .primeiraSessao {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .primeiraSessao__conteudoImagens {
        width: 100%;
        max-width: 500px;
        height: auto;
        background-color: red;
        transform: translate(0%, -10%);
    }

    .conteudo__primeiraSessaoImagem {
        width: 50%;
        height: 50%;
        transform: translate(0%, -30%);
    }

    .conteudo__primeiraSessao__lateral {
        width: 80%;
        height: 80%;
        transform: translate(0%, -10%);
    }
    
    .primeiraSessao__titulo {
        font-size: 1.5rem;
        width: 50%;
        background-color: brown;
    }

    .primeiraSessao__subtitulo {
        font-size: 1.5rem;
    }

    .primeiraSessao__link {
        font-size: 1rem;
    }
}