.quintaSessao{
    background-color: var(--cor-fundo-sessao);
    width: 100%;
}

.quintaSessao__conteudo{
    height: 525px;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.quintaSessao__ConteudoTitulo{
    width: 900px;
    height: 425px;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.quintaSessao__Titulo{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--fonte-principal);
}

.quintaSessao__linha{
    width: 20%;
    border-color: var(--preto);
}

.quintaSessao__Subtitulo{
    font-size: 1.5rem;
    margin: 30px 20px;
    line-height: 1.5;
    font-family: var(--fonte-secundaria);
}

.quintaSessao__botao{
    background-color: var(--brancp);
    color: var(--preto);
    border: 1px solid var(--preto);
    font-family: var(--fonte-principal);
    text-decoration: none;
    width: 25%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 3px;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.quintaSessao__ConteudoTitulo.animate {
    animation: scaleUp 1.5s ease-out forwards;
}

@media (max-width: 300px){
    .quintaSessao__ConteudoTitulo{
        width: 100%;
    }

    .quintaSessao__conteudo{
        width: 100%;
        height: 100px;
        margin-bottom: 330px;
    }

    .quintaSessao__botao{
        width: 80%;
    }
}